<div class="container" *ngIf="duasPaginas; else paginas"><div class="jumbotron jumbotron-fluid"style="background-color: #ffe6e6;">
  <div class="container" style="background-color: #ffe6e6;">
    <h1 class="display-4">BTS</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <button (click)="mostrarPaginas()" type="button" class="btn btn-outline-secondary">Veja Fotos</button>
  </div>
</div></div>
<ng-template #paginas>
    <div class="container" ><div class="jumbotron jumbotron-fluid"style="background-color: #ffe6e6;">
        <div class="container" style="background-color: #ffe6e6;">
          <h1 class="display-4">BTS</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
          <button (click)="sumir()" type="button" class="btn btn-outline-secondary">Voltar</button>
        </div>
      </div></div>
<app-foto></app-foto>
        <app-footer></app-footer>
</ng-template>
