<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img (click)="alerta()" class="d-block w-100" src="/src/assets/bts-21.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/src/assets/BTS-são-a-celebridade-mais-tweetada.jpg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/src/assets/btsss_by_kamjong_kai-db5fs93.png" alt="Third slide">
          </div>
        </div>
      </div>
</div>
